<!DOCTYPE html>
<div class="w3-button w3-border w3-opacity" style="display: inline-block;" id="debugger_tab_<%= mrId %>" onclick="select_debugger_model('<%= mrId %>')" data-selected="false" data-value="<%= mrId %>">
    Model <%= modelId %>, run <%= runNo %>
</div>