<!DOCTYPE html>
<div class="w3-container w3-margin-bottom w3-border w3-left-align" onclick="on_click_model(<%= model.modelId %>)">
    <div>
        <br>
        <div class="w3-row">
            <div class="w3-third">
                <div class="w3-container"> Pipeline <%= model.modelId %> </div>
                <div class="w3-container w3-tiny"> Number of completed runs:  <%= model.runs_amount %> </div>
            </div>
            <div class="w3-third">
                <%
                    if (filter_parameters.length == 0) {
                %>
                    <!-- <div class="w3-container"> No filter </div> -->
                <%
                    } else {
                        for (var i in filter_parameters) {
                            var param = filter_parameters[i]
                %>
                        <div class="w3-container w3-small"> <%= param %>: <%= model.parameters[param] %> </div>
                <%
                        }
                    }
                %>
            </div>
            <div class="w3-third">
                <%
                    if (filter_metrics.length == 0) {
                %>
                    <!-- <div class="w3-container"> No filter </div> -->
                <%
                    } else {
                        for (var i in filter_metrics) {
                            var metric = filter_metrics[i]
                %>
                        <div class="w3-container w3-small"> <%= metric %>: <%= metric_values[metric] %> </div>
                <%
                        }
                    }
                %>
            </div>
        </div>
    </div>
    <div onclick="toggle_viz('add_<%= model.modelId %>')" class="w3-container w3-hover w3-hover-light-gray w3-right w3-small">See more</div>
    <div class="w3-row-padding w3-margin-bottom w3-hide" id="add_<%= model.modelId %>">
        <hr>
        <div class="w3-third">
            <div class="w3-container w3-small w3-center">Parameters</div>
            <ul class="w3-ul w3-tiny" style="max-height: 200px; overflow-y: auto;">
                <% 
                    var added = false;
                    for (var param in model.parameters) {
                        added = true;
                %>
                    <li> <b><%= param %></b>: <%= model.parameters[param] %> </li>
                <%
                    }
                    if (!added) {
                %>
                    <li> No parameters </li>
                <% 
                    }
                %>
            </ul>
        </div>
        <div class="w3-twothird">
            <div class="w3-container w3-small w3-center">Metrics</div>
            <div style="max-height: 200px; overflow: auto;">
                <table class="w3-table w3-bordered w3-small">
                    <tr>
                        <th rowspan="2">Finished run id</th>
                        <%
                            for (var i = 0; i < modules.length; i++) {
                        %>
                            <th colspan="<%= metrics[modules[i]].length %>"> <%= modules[i].substring(4, modules[i].length) %> </th>
                        <%
                            }
                        %>
                    </tr>
                    <tr>
                        <%
                            for (var i = 0; i < modules.length; i++) {
                        %>
                            <%
                                for (var j = 0; j < metrics[modules[i]].length; j++) {
                            %>
                                <th> <%= metrics[modules[i]][j] %> </th>
                            <%
                                }
                            %>
                        <%
                            }
                        %>
                    </tr>
                    <%
                        for (var i in runs) {
                            var run = runs[i];
                    %>
                        <tr>
                            <td> <%= run.runNo %> </td>
                            <%
                                for (var i = 0; i < modules.length; i++) {
                                    var module = modules[i];
                                    if (run.metrics[module] != undefined) {
                            %>
                                <%
                                    for (var j = 0; j < metrics[modules[i]].length; j++) {
                                %>
                                    <td> <%= run.metrics[modules[i]][metrics[modules[i]][j]] %> </td>
                                <%
                                    }
                                %>
                            <%
                                    } else {
                            %>
                                <%
                                    for (var j = 0; j < metrics[modules[i]].length; j++) {
                                %>
                                    <td></td>
                                <%
                                    }
                                %>
                            <%
                                    }
                                }
                            %>
                        </tr>
                    <%
                        }
                    %>
                </table>
            </div>
        </div>
    </div>
</div>