<!DOCTYPE html>
<%
    if (_type == 'id') {
%>
    <li class="w3-container w3-border-0" data-value="id,<%= _id %>">
        <div class="w3-row-padding">
            <div class="w3-quarter">Id filter</div>
            <div class="w3-quarter">Id: <%= _id %></div>
            <div class="w3-quarter w3-right">
                <button class="w3-btn w3-block" onclick="remove_filter(this);">&times</button>
            </div>
        </div>
    </li>
<%
    } else if (_type == 'id_range') {
%>
    <li class="w3-container w3-border-0" data-value="id_range,<%= id_from %>,<%= id_until %>">
        <div class="w3-row-padding">
            <div class="w3-quarter">Id range filter</div>
            <div class="w3-quarter">From: <%= id_from %></div>
            <div class="w3-quarter">Until: <%= id_from %></div>
            <div class="w3-quarter w3-right">
                <button class="w3-btn w3-block" onclick="remove_filter(this);">&times</button>
            </div>
        </div>
    </li>
<%
    }
%>